<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'normalize' %>
  <%= stylesheet_link_tag 'index' %>
<% end %>

<% content_for :scripts do %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" %>
    <%= javascript_include_tag "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->
  <script type="text/javascript">
    function mysubmit(hidden_field) {
      f = document.getElementById("product_form");

      if (hidden_field != null) {
        i = document.createElement("input");
        i.setAttribute("type", "hidden");
        i.setAttribute("name", hidden_field);
        i.value = "yes";
        f.appendChild(i);
      }

      f.submit()
    }

    function change_logo() {
      ld = document.getElementById("logo");
      ld.removeChild(ld.firstChild);
      l = document.createElement("img");
      src = document.getElementById("bildurl_PRODUCT_LABEL_IMAGE");
      if (src == null) {
        return;
      }
      l.src = src.value;
      l.alt = "Logo of this product";
      l.title = "Logo of this product;"
      l.style.width = "200px";
      ld.appendChild(l);
    }

    function add_inhalt() {
      inhaltsstoffe = document.getElementById("inhaltsstoffe");
      last = inhaltsstoffe.lastElementChild;

      prev = last;
      prevInput = prevAddButton = prevDelButton = null;

      while (prevInput == null || prevAddButton == null || prevDelButton == null) {
        if (prev.tagName == "INPUT") {
          prevInput = prev;
        } else if (prev.tagName == "BUTTON") {
          if (prev.className.indexOf("preview-add-button") > -1) {
            prevAddButton = prev;
          } else {
            prevDelButton = prev;
          }
        }

        prev = prev.previousElementSibling;
      }

      seq = parseInt(prevInput.getAttribute("id").slice(-2)[0]);

      prevAddButton.setAttribute("disabled", "disabled");
      prevDelButton.setAttribute("disabled", "disabled");

      bn1 = document.createElement("button");
      bn1.setAttribute("type", "button");
      bn1.setAttribute("class", "btn btn-danger preview-add-button");
      bn1.setAttribute("onclick", "add_inhalt()");
      sp1 = document.createElement("span");
      sp1.setAttribute("class", "glyphicon glyphicon-plus");
      bn1.appendChild(sp1)

      bn2 = document.createElement("button");
      bn2.setAttribute("type", "button");
      bn2.setAttribute("class", "btn btn-danger preview-del-button");
      bn2.setAttribute("onclick", "del_inhalt();");
      sp2 = document.createElement("span");
      sp2.setAttribute("class", "glyphicon glyphicon-minus");
      bn2.appendChild(sp2)

      input = document.createElement("input");
      input.setAttribute("type", "text");
      input.setAttribute("style", "display: inline; width: 80%;");
      input.setAttribute("class", "form-control");
      input.setAttribute("id", "inhaltsstoff[".concat(seq + 1).concat("]"));
      input.setAttribute("name", "inhaltsstoff[".concat(seq + 1).concat("]"));
      input.setAttribute("value", "Neue Zutat");

      br = document.createElement("br");

      last.parentNode.insertBefore(bn2, last);
      last.parentNode.insertBefore(input, last);
      last.parentNode.insertBefore(bn1, last);
      last.parentNode.insertBefore(br, last);
    }

    function del_inhalt() {
      inhaltsstoffe = document.getElementById("inhaltsstoffe");
      last = inhaltsstoffe.lastElementChild;

      prev = last;

      thisInput = thisAddButton = thisDelButton = null;

      while (thisInput == null || thisAddButton == null || thisDelButton == null) {
        if (prev.tagName == "INPUT") {
          thisInput = prev;
        } else if (prev.tagName == "BUTTON") {
          if (prev.className.indexOf("preview-add-button") > -1) {
            thisAddButton = prev;
          } else {
            thisDelButton = prev;
          }
        }

        prev = prev.previousElementSibling;
      }

      prevInput = prevAddButton = prevDelButton = null;

      while (prevInput == null || prevAddButton == null || prevDelButton == null) {
        if (prev.tagName == "INPUT") {
          prevInput = prev;
        } else if (prev.tagName == "BUTTON") {
          if (prev.className.indexOf("preview-add-button") > -1) {
            prevAddButton = prev;
          } else {
            prevDelButton = prev;
          }
        }

        prev = prev.previousElementSibling;
      }

      seq = parseInt(prevInput.getAttribute("id").slice(-2)[0]);

      if (seq != 2) {
        prevDelButton.removeAttribute("disabled");
      }

      prevAddButton.removeAttribute("disabled");

      last.parentNode.removeChild(thisAddButton);
      last.parentNode.removeChild(thisDelButton);
      last.parentNode.removeChild(thisInput);
      last.parentNode.removeChild(last);
    }

    $(document).ready(change_logo);
  </script>
<% end %>

<% unless @products.length == 0 %>
<div style="background: black; opacity: 0.6; color: white; margin: 1em; padding: 1em;">
<h1>Vorhandene Produkte bearbeiten</h1>
<ul>
<% @products.each do |p| %>
	<li><a style="font-size: 1.2em;" href="/maintenance?gtin=<%= p[:gtin] %>"><%= p.product_data_records[0].basic_product_informations[0].product_names[0][:string] %> (GTIN: <span style="font-style: italic;"><%= p[:gtin] %></span>)</a></li>
<% end %>
</ul>
</div>
<% end %>

<form method="post" id="product_form">
<div class="container">
	<div class="row">
		<div class="col-sm-5" style="width: 69.99999%">
			<h4>Produktinformationen</h4>
			<div class="panel panel-default">
				<div id="edit_product1" class="panel-body form-horizontal payment-form">
					<div class="form-group">
						<label for="gtin" class="col-sm-3 control-label">GTIN</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="gtin" name="gtin" readonly="readonly" value="<%= @edit_product[:gtin] %>">
						</div>
					</div>
					<div class="form-group">
						<label for="variante" class="col-sm-3 control-label">Variante</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="variante" name="variante" value="<%= @edit_product.product_data_records[0].production_variant_description[:string] %>">
						</div>
					</div>

					<% @edit_bi.product_names.each do |pn| %>
					<div class="form-group">
						<label for="name_<%= pn[:language] %>" class="col-sm-3 control-label">Produktname (<%= pn[:language] %>)</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="name_<%= pn[:language] %>" name="name_<%= pn[:language] %>" value="<%= pn[:string] %>">
						</div>
					</div>
					<% end %>

					<% @edit_bi.regulated_product_names.each do |rpn| %>
					<div class="form-group">
						<label for="regname_<%= rpn[:language] %>" class="col-sm-3 control-label">Regulierter Produktname (<%= rpn[:language] %>)</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="regname_<%= rpn[:language] %>" name="regname_<%= rpn[:language] %>" value="<%= rpn[:string] %>">
						</div>
					</div>
					<% end %>

					<% @edit_bi.consumer_marketing_descriptions.each do |cmd| %>
					<div class="form-group">
						<label for="cmd_<%= cmd[:language] %>" class="col-sm-3 control-label">Werbespruch (<%= cmd[:language] %>)</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="cmd_<%= cmd[:language] %>" name="cmd_<%= cmd[:language] %>" value="<%= cmd[:string] %>">
						</div>
					</div>
					<% end %>

					<% @edit_bi.product_information_links.each do |pil| %>
					<% t = pil.product_information_type_code_type[:string] %>
					<div class="form-group">
						<label for="infourl_<%= t %>" class="col-sm-3 control-label">Informations-URL (<%= t %>)</label>
						<div class="col-sm-9">
							<input type="url" class="form-control" readonly="readonly" id="infourl_<%= t %>" name="infourl_<%= t %>" value="<%= pil[:url] %>">
						</div>
					</div>
					<% end %>

					<% @edit_bi.image_links.each do |il| %>
					<% t = il.image_type_code_type[:string] %>
					<div class="form-group">
						<label for="bildurl_<%= t %>" class="col-sm-3 control-label">Bild-URL (<%= t %>)</label>
						<div class="col-sm-9">
							<input type="url" class="form-control" onchange="change_logo();" id="bildurl_<%= t %>" name="bildurl_<%= t %>" value="<%= il[:url] %>">
						</div>
					</div>
					<% end %>

					<div class="form-group">
						<label for="alkoholgehalt" class="col-sm-3 control-label">Alkoholgehalt</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="alkoholgehalt" name="alkoholgehalt" value="<%= @edit_pqi[:percentage_of_alcohol_by_volume] %>">
						</div>
					</div>
					<div class="form-group">
						<label for="inhaltsangabe" class="col-sm-3 control-label">Inhaltstoff-Angabe</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inhaltsangabe" name="inhaltsangabe" value="<%= @edit_fabii.food_and_beverage_ingredient_statements[0][:string] %>">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Inhaltsstoffe</label>
						<div class="col-sm-9" id="inhaltsstoffe">
							<% @edit_fabii.food_and_beverage_ingredients.each do |fi| %>
							<% cnt = @edit_fabii.food_and_beverage_ingredients.length %>
							<% id = 'inhaltsstoff[' + fi[:sequence].to_s + ']' %>
							<% name = fi.food_and_beverage_ingredient_names[0][:string] %>
							<button type="button" class="btn btn-danger preview-del-button" <%= 'disabled="disabled"'.html_safe unless fi[:sequence] == cnt %> onclick="del_inhalt();">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
							<input type="text" style="display: inline; width: 80%;" class="form-control" id="<%= id %>" name="<%= id %>" value="<%= name %>">
							<button type="button" class="btn btn-danger preview-add-button" <%= 'disabled="disabled"'.html_safe unless fi[:sequence] == cnt %> onclick="add_inhalt();">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<br>
							<% end %>
						</div>
					</div> 
					<div class="form-group">
						<div class="col-sm-12 text-right">
							<button type="button" class="btn btn-danger preview-add-button" onclick='mysubmit("add");'>
								<span class="glyphicon glyphicon-plus"></span> Add
							</button>
							<button type="button" class="btn btn-danger preview-edit-button" onclick='mysubmit("edit");'>
								<span class="glyphicon glyphicon-pencil"></span> Edit
							</button>
							<button type="button" class="btn btn-danger preview-del-button" onclick='mysubmit("del");'>
								<span class="glyphicon glyphicon-minus"></span> Delete
							</button>
							<a class="btn btn-danger preview-xml-button" href="/item.xml?gtin=<%= @edit_product[:gtin] %>">
								<span class="glyphicon glyphicon-envelope"></span> XML
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-7" style="width: 30%">
			<h4>Logo</h4>
			<div id="logo">
			</div>
		</div>
	</div>
	<h2>Interaktion mit Data-Aggregator</h2>
	<div class="col-sm-5" style="width: 69.99999%">
		<div class="panel panel-default">
			<div id="edit_product2" class="panel-body form-horizontal payment-form">
				<div class="form-group">
					<div class="col-sm-3 control-label" style="font-weight: bold;">
						Produkt
					</div>
					<div class="col-sm-9">
						<button type="button" class="btn btn-danger preview-da_send-button" onclick='mysubmit("da_send");'>
							<span class="glyphicon glyphicon-export"></span> Add
						</button>
						<button type="button" class="btn btn-danger preview-da_edit-button" onclick='mysubmit("da_edit");'>
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>
						<button type="button" class="btn btn-danger preview-da_del-button" onclick='mysubmit("da_del");'>
							<span class="glyphicon glyphicon-import"></span> Delete
						</button>
						<a class="btn btn-danger preview-da_xml-button" href="/get?gtin=<%= @edit_product[:gtin] %>">
							<span class="glyphicon glyphicon-envelope"></span> XML
						</a>
						<a class="btn btn-danger preview-da_xml-button" href="/get.xml?raw&amp;gtin=<%= @edit_product[:gtin] %>">
							<span class="glyphicon glyphicon-envelope"></span> XML (raw)
						</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3 control-label" style="font-weight: bold;">
						Alle Produkte
					</div>
					<div class="col-sm-9">
						<button type="button" class="btn btn-danger preview-da_send_all-button" onclick='mysubmit("da_send_all");'>
							<span class="glyphicon glyphicon-export"></span> Add all
						</button>
						<button type="button" class="btn btn-danger preview-da_del_all-button" onclick='mysubmit("da_del_all");'>
							<span class="glyphicon glyphicon-import"></span> Delete all
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
